<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="LibraSofiaEntities" connectionString="metadata=res://*/LibraSofia.csdl|res://*/LibraSofia.ssdl|res://*/LibraSofia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DENU00CL0076\CYRGEN;initial catalog=LibraSofia;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LibraBurgasEntities" connectionString="metadata=res://*/LibraBurgas.csdl|res://*/LibraBurgas.ssdl|res://*/LibraBurgas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DENU00CL0076\CYRGEN;initial catalog=LibraBurgas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LibraPlovdivEntities" connectionString="metadata=res://*/LibraPlovdiv.csdl|res://*/LibraPlovdiv.ssdl|res://*/LibraPlovdiv.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DENU00CL0076\CYRGEN;initial catalog=LibraPlovdiv;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LibraVarnaEntities" connectionString="metadata=res://*/LibraVarna.csdl|res://*/LibraVarna.ssdl|res://*/LibraVarna.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DENU00CL0076\CYRGEN;initial catalog=LibraVarna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LibraVelikoTyrnovoEntities" connectionString="metadata=res://*/LibraVelikoTyrnovo.csdl|res://*/LibraVelikoTyrnovo.ssdl|res://*/LibraVelikoTyrnovo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DENU00CL0076\CYRGEN;initial catalog=LibraVelikoTyrnovo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
